#project1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid black;
}

 
td {
    border: 1px solid black;
}

.button-prior {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid gray;
}

.prior {
    display: flex;
    gap: 10px;

}

.prior>:nth-child(1) {
    background-color: red;
}

.prior>:nth-child(1):hover {
    background-color: rgb(161, 0, 0);
}

.prior>:nth-child(1):disabled {
    background-color: rgb(248, 169, 169);
}

.prior>:nth-child(2) {
    background-color: yellow;
}

.prior>:nth-child(2):hover {
    background-color: rgb(170, 170, 0);
}

.prior>:nth-child(2):disabled {
    background-color: rgb(255, 255, 174);
}

.prior>:nth-child(3) {
    background-color: blue;
}

.prior>:nth-child(3):hover {
    background-color: rgb(0, 0, 170);
}

.prior>:nth-child(3):disabled {
    background-color: rgb(123, 123, 255);
}
