.project {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: 1fr 6fr;
    min-height: 62vh;
    width: 100vw;
    background-color: rgb(186, 197, 167);
    padding: 20px;
}

body {
    display: grid;
    grid-template-rows: .25fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    width: 102vw;
    padding-top: 12px;
    text-align: center;
    padding-bottom: 12px;
    margin: 0;
    background-color: rgb(186, 197, 167);
    font-size: 48px;
    color:rgb(234, 238, 226);
}

#header {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    gap: 18px;
    background-color: rgb(223, 233, 206);

}

#header>label,
#header>select {
    margin-bottom: 30px;
}

#header>label {
    font-size: 18px;
    font-weight: 400;
    color: rgb(130, 139, 84);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#header>select {
    color: rgb(156, 167, 98);
    background-color: #f0f0f0;
    border: 2px solid outset;
    padding: 1px;
    height: 49px;
    font-size: 16px;
    line-height: 45px;
    font-weight: 400;
    max-width: auto;
    margin: 0 auto 2em;
    position: relative;
    width: auto;
}

#header>select:hover {
    background-color: #e0e0e0;
}

button {
    color: rgb(156, 167, 98);
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    margin: 0 auto 2em;
    position: relative;
    width: 100%;
}



.table {
    margin-top: 25px;
    padding-right: 40px;

}

.head-row {
    color: rgb(129, 138, 111);
    font-size: 17px;
}

.cell {
    padding: 12px;
    inline-size: min-content;
    background-color: rgb(219, 226, 207);;
    color: rgb(81, 94, 55);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input.due-date {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    border: 1px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px;
    color: rgb(81, 94, 55);
}

input.due-date:hover {
    background-color: #e0e0e0;
}

select.task-type {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    border: 1px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px;
    color: rgb(81, 94, 55);
}

select.task-type:hover {
    background-color: #e0e0e0;
}


.task-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.task-btn-div {
    padding-left: 8px;
    display: flex;
    gap: 8px;
    padding-top: 24px;
}

.task-btns {
    border-radius: 4px;
    border: 1px solid;
    width: 64px;

}


.task-btns:hover {
    background-color: #e0e0e0;
}

.cell {
    align-self: center;
}

.priority-btn-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.priority-btn {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    margin: 0;
}

.high-text {
    color: rgb(172, 20, 20);
}

.high {
    background-color: rgb(172, 20, 20);
}

.high:hover {
    background-color: rgb(92, 3, 3);
}

.high:disabled {
    background-color: rgb(248, 169, 169);
}

.medium-text {
    color: rgb(151, 116, 19);
}

.medium {
    background-color: rgb(151, 116, 19);
}

.medium:hover {
    background-color: rgb(105, 80, 12);
}

.medium:disabled {
    background-color: rgb(250, 221, 143);
}

.low-text {
    color: rgb(79, 62, 155);
}

.low {
    background-color: rgb(79, 62, 155);;
}

.low:hover {
    background-color: rgb(51, 40, 99);
}

.low:disabled {
    background-color: rgb(126, 105, 221);
}


#notes {
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line-through {
    text-decoration: line-through;
}